xsd/DisclaimerRs.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DisclaimerRs">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TransferOnly">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Info">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Disclaimer">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Disclaimer_Info">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:string" name="Title"/>
                                <xs:element type="xs:string" name="Description"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:float" name="version"/>
      <xs:attribute type="xs:string" name="company"/>
      <xs:attribute type="xs:integer" name="sess"/>
    </xs:complexType>
  </xs:element>
</xs:schema>