xsd/LocationRq.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LocationRq">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TransferOnly">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="CacheLocations">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Request">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="Username"/>
                          <xs:element type="xs:string" name="Password"/>
                          <xs:element type="xs:string" name="Lang"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="version"/>
    </xs:complexType>
  </xs:element>
</xs:schema>